/*HTML*/
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0px;
}
/*BODY*/

body {
  color: white;
  background-color: black;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #2d2c36;
}
/*HEADER*/
header {
  width: 100%;
  height: 8vh;
}
.navar {
  background-color: black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  position: fixed;
}
.lista-nav {
  height: 100%;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ancore-inicio {
  margin-left: 20px;
}
.ancore-txt {
  color: rgba(186, 34, 34, 0.76);
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ancore-txt:hover {
  font-size: 15px;
  color: rgba(186, 34, 34, 0.507);
}
.button-navar {
  margin-right: 20px;
}
/*MAIN*/
main {
  height: 92vh;
}
#main-index {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}
.div-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  grid-area: imagen;
}
.div-main {
  height: 80vh;
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}
.img-main {
  height: 45vh;
  width: 60%;
}
.div-title {
  height: 80vh;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto-main {
  font-family: "Archivo Black", sans-serif;
  font-size: 100px;
  margin: 0px;
  width: 100%;
}
.texto-main:hover {
  color: rgba(186, 34, 34, 0.76);
}
.div-button-main {
  display: flex;
  justify-content: center;
  height: 12vh;
  width: 100%;
  align-items: center;
}
.button-main {
  height: 10vh;
  border: none;
  color: white;
  background-color: black;
  width: 4%;
}
.button-main:hover {
  color: rgba(186, 34, 34, 0.76);
  scale: 1.08;
  transform: 1s;
}
.button-comprar {
  margin-top: 40px;
  height: 30px;
  border-radius: 12px;
}

.carr-mio {
  padding: 200px;
  display: flex;
  justify-content: center;
}

/*SECTION TARJETAS*/
.section-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.div-menu {
  background-color: #2d2c36;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-top: 40px;
  width: 50%;
}
.div-cards {
  margin: 12px 0px;
  width: 90%;
}
.cartas {
  height: 24vh;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  border: solid 2px #ffffff1f;
  border-radius: 2px;
  justify-content: space-between;
}
.cartas:hover {
  transition: heigth 1s, transform 1s, background-color 1s,
    font-size 0s 0.2s linear;
  background-color: rgba(186, 34, 34, 0.76);
}
.div-tittle-precio {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div-txt {
  width: 72%;
  height: 100%;
}
.titulo-cartas {
  font-size: 16px;
  font-weight: 900;
  margin: 0px;
}
.cartas-precio {
  margin-bottom: 0px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 700;
}
.divDescripcionTxt {
  width: 100%;
  height: 40%;
}
.descripcion-txt {
  width: 95%;
  margin: 5px 0px 0px 0px;
  font-size: 13px;
}
.div-images {
  width: 25%;
  height: 100%;
}
.imgs-cards {
  height: 100%;
  width: 100%;
}
.div-btn-agregar {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btnAgregar {
  font-weight: 700;
  border: 1px solid transparent;
  font-size: 14px;
  margin-right: 10px;
  padding: 2px;
  width: 17%;
}
.btnAgregar:hover {
  color: white;
  background-color: #2d2c36;
}
.div-filter {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-filter-select {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
}
.button-category {
  padding: 3px;
  margin: 0px 5px;
  color: white;
  background-color: rgba(186, 34, 34, 0.76);
  border: 2px solid transparent;
  border-radius: 6px;
}
.button-category:hover {
  background-color: rgba(186, 34, 34, 0.505);
}
/*CARRITO*/

.nav-carrito {
  right: 0;
  width: 30%;
  background-color: #2d2c36;
  position: fixed;
  margin-right: 20px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 3px;
}
.button-show-carrito {
  border: none;
  width: 30px;
  color: rgba(186, 34, 34, 0.76);
  background-color: transparent;
}
.button-show-carrito:hover {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
}
.list-carrito {
  margin-bottom: 15px;
}
.carrito-txt {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.producto-carrito {
  height: 16vh;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 5px;
}
.producto-carrito h3 {
  font-size: 14px;
}
.img-producto {
  height: 100%;
  margin: 0px;
  width: 28%;
}
.nombre-cantidad-carrito {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.nombre-cantidad-carrito h3 p {
  margin-bottom: 0px;
}
.div-producto-carrito {
  display: flex;
  justify-content: space-around;
}
.div-padre-carrito {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 72%;
  justify-content: space-evenly;
}
.div-eliminar-carrito {
  display: flex;
  justify-content: center;
}
.btnEliminar {
  font-weight: 700;
  font-size: 10px;
  border: 2px solid transparent;
  border-radius: 2px;
  width: 35%;
}
.btnEliminar:hover {
  background: rgba(186, 34, 34, 0.76);
}
.btnEliminar:active {
  background: rgba(186, 34, 34, 0.505);
}
.div-total-final {
  display: flex;
  justify-content: flex-end;
}
.total {
  margin: 0;
  font-size: 14px;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .texto-main {
    font-size: 80px;
  }
}

@media (max-width: 1040px) {
  .nav-carrito {
    width: 37%;
  }
  .div-menu {
    width: 65%;
  }
}

@media (max-width: 876px) {
  .texto-main {
    font-size: 65px;
  }
}

@media (max-width: 780px) {
  .div-menu {
    width: 75%;
  }
}

@media (max-width: 715px) {
  .texto-main {
    font-size: 45px;
  }
}

@media (max-width: 675px) {
  .nav-carrito {
    width: 50%;
  }
  .div-menu {
    width: 85%;
  }
  .btnAgregar {
    width: 25%;
  }
}

@media (max-width: 550px) {
  .div-menu {
    width: 90%;
  }
  .img-main {
    height: 40%;
    width: 60%;
  }
  .div-eliminar-carrito {
    margin-top: 15px;
  }
  .producto-carrito {
    height: 13vh;
  }
  .nav-carrito {
    width: 60%;
  }
  .texto-main {
    font-size: 30px;
  }
  .button-main {
    width: 10%;
  }
  .div-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cartas {
    width: 90%;
    height: 18vh;
  }
  .titulo-cartas,
  .cartas-precio {
    font-size: 12px;
  }
  .divDescripcionTxt {
    height: 30%;
  }
  .descripcion-txt {
    font-size: 11px;
  }
  .btnAgregar {
    padding: 0;
    font-size: 11px;
  }
  .button-category {
    font-size: 13px;
  }
}

@media (max-width: 405px) {
  .nav-carrito {
    width: 80%;
  }
  .texto-main {
    font-size: 25px;
  }
  .img-main {
    height: 30%;
  }
  .div-menu {
    width: 99%;
  }
  .cartas {
    width: 95%;
    height: 16vh;
  }
  .divDescripcionTxt {
    height: 40%;
  }
}

@media (max-width: 335px) {
  .button-navar {
    margin-right: 5px;
  }
  .ancore-inicio {
    margin-left: 5px;
  }
  .button-show-carrito {
    width: 25px;
  }
  .nav-carrito {
    margin-right: 5px;
  }
  .producto-carrito {
    margin: 0;
    margin-bottom: 5px;
    height: 11vh;
  }
  .producto-carrito h3 {
    font-size: 11px;
  }
  .total {
    font-size: 11px;
  }
  .img-main {
    height: 15%;
    width: 80%;
  }
  .texto-main {
    font-size: 20px;
  }
  .div-filter {
    justify-content: center;
  }
  .button-category {
    margin: 0px 2px;
    font-size: 11px;
  }
  .descripcion-txt {
    margin: 0px;
    font-size: 7px;
  }
  .cartas {
    height: 12vh;
    width: 98%;
    margin-bottom: 5px;
  }
  .div-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .div-tittle-precio {
    height: 30%;
  }
  .divDescripcionTxt {
    height: 30%;
  }
  .div-btn-agregar {
    height: 35%;
  }
  .btnAgregar {
    font-size: 10px;
  }
}

@media (max-width: 275px) {
  .nav-carrito {
    width: 85%;
  }
  .producto-carrito {
    height: 9vh;
  }
  .producto-carrito h3 {
    font-size: 9px;
  }
  .div-eliminar-carrito {
    margin-top: 0px;
  }
  .texto-main {
    font-size: 15px;
  }
  .cartas {
    height: 10vh;
  }
  .btnEliminar {
    width: 45%;
    font-size: 8px;
  }
  .button-category {
    margin: 0px 1px;
    font-size: 8px;
  }
  .titulo-cartas,
  .cartas-precio {
    font-size: 10px;
  }
  .descripcion-txt {
    font-size: 5px;
  }
  .btnAgregar {
    width: 40%;
  }
}

@media (max-width: 205px) {
  .texto-main {
    font-size: 12px;
  }
  .img-main {
    height: 10%;
    width: 100%;
  }
  .button-category {
    margin: 0px 1px;
    font-size: 7px;
    padding: 1px;
  }
  .cartas {
    height: 8vh;
  }
  .btnAgregar {
    font-size: 7px;
  }
  .titulo-cartas,
  .cartas-precio {
    font-size: 7px;
  }
}
